.list_category
{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    color: rgb(68, 15, 15);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5%;
    background-color: rgb(29, 144, 70);
}
.list_items
{
    font-size: 2rem;
    color: rgb(94, 29, 29);
    list-style: none;
    text-align: center;
    margin:0;
}
